body {
  background: #F7FBFC;
}

h1, h2, h3, p, span, a, li {
  font-family: "DM Sans", sans-serif;
  color: #232259;
  font-weight: 400;
  letter-spacing: -0.01em;
}

h1 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 40px;
    line-height: 52px;
  }
}

h2 {
  font-size: 26px;
  line-height: 34px;
}

p {
  line-height: 30px;
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 24px;
}

a {
  text-decoration: none;
  font-size: 18px;
}

.threeGrid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 24px;
}
@media screen and (max-width: 640px) {
  .threeGrid {
    display: flex;
    flex-direction: column;
  }
}

nav {
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #7271A6;
  border-radius: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-bottom: 96px;
  background: #ffffff;
}
nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
nav ul li {
  display: inline;
}
nav ul a {
  color: #7271A6;
  transition-duration: 0.5s;
}
nav ul .active {
  color: #232259;
}
nav ul a:hover {
  color: #232259;
  transition-duration: 0.5s;
}
@media screen and (max-width: 640px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 48px;
  }
  nav ul {
    gap: 16px;
    margin-top: 8px;
  }
  nav a {
    font-size: 14px;
  }
}

.container {
  max-width: 1080px;
  padding: 24px 48px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .container {
    padding: 16px;
  }
}

.sectionHeader {
  display: flex;
  align-items: baseline;
  margin-bottom: 48px;
}
.sectionHeader span {
  white-space: nowrap;
  margin-right: 8px;
  font-family: "DM Mono", sans-serif;
  letter-spacing: normal;
  font-size: 14px;
}
.sectionHeader .divider {
  width: 100%;
  height: 1px;
  background: #7271A6;
}

#hero {
  padding-bottom: 144px;
}
@media screen and (max-width: 640px) {
  #hero {
    padding-bottom: 96px;
  }
}
#hero h1 {
  max-width: 680px;
  margin-bottom: 24px;
}
#hero p {
  max-width: 680px;
  margin-bottom: 24px;
}
#hero a {
  font-family: "DM Mono", sans-serif;
  font-size: 14px;
  text-decoration: underline;
  color: #7271A6;
  transition-duration: 0.5s;
}
#hero a:hover {
  transition-duration: 0.5s;
  color: #232259;
}

.project {
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #7271A6;
  border-radius: 16px 0px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #ffffff;
  flex-grow: 1;
  transition-duration: 0.5s;
}
.project p {
  margin-bottom: 0;
}
.project .projectTitle {
  display: flex;
  font-size: 48px;
  align-items: flex-start;
  justify-content: space-between;
}
.project .projectTitle h2 {
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 16px;
  margin-top: 0;
}
@media screen and (max-width: 640px) {
  .project .projectTitle h2 {
    font-size: 22px;
    line-height: 27px;
  }
}
.project .projectTitle h3 {
  font-size: 26px;
  font-size: 34px;
  margin-bottom: 16px;
  margin-top: 0;
}
@media screen and (max-width: 640px) {
  .project .projectTitle h3 {
    font-size: 22px;
    line-height: 27px;
  }
}
.project .projectTitle span {
  transition-duration: 0.5s;
}

.project:hover {
  background: none;
  transition-duration: 0.5s;
}
.project:hover span {
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}
@-webkit-keyframes bounce {
  0% {
    transform: translateX(0px);
  }
  7% {
    transform: translateX(8px);
  }
  13% {
    transform: translateX(0px);
  }
  18% {
    transform: translateX(8px);
  }
  22% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(8px);
  }
  27% {
    transform: translateX(0px);
  }
  28% {
    transform: translateX(8px);
  }
  29% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(8px);
  }
  31% {
    transform: translateX(0px);
  }
  32% {
    transform: translateX(8px);
  }
  33% {
    transform: translateX(0px);
  }
  34% {
    transform: translateX(8px);
  }
  35% {
    transform: translateX(0px);
  }
  36% {
    transform: translateX(8px);
  }
  37% {
    transform: translateX(0px);
  }
  38% {
    transform: translateX(8px);
  }
  39% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(8px);
  }
  41% {
    transform: translateX(0px);
  }
  42% {
    transform: translateX(8px);
  }
  43% {
    transform: translateX(0px);
  }
  44% {
    transform: translateX(8px);
  }
  45% {
    transform: translateX(0px);
  }
  46% {
    transform: translateX(8px);
  }
  47% {
    transform: translateX(0px);
  }
  48% {
    transform: translateX(8px);
  }
  49% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(8px);
  }
  51% {
    transform: translateX(0px);
  }
  52% {
    transform: translateX(8px);
  }
  53% {
    transform: translateX(0px);
  }
  54% {
    transform: translateX(8px);
  }
  55% {
    transform: translateX(0px);
  }
  56% {
    transform: translateX(8px);
  }
  57% {
    transform: translateX(0px);
  }
  58% {
    transform: translateX(8px);
  }
  59% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(8px);
  }
  61% {
    transform: translateX(0px);
  }
  62% {
    transform: translateX(8px);
  }
  63% {
    transform: translateX(0px);
  }
  64% {
    transform: translateX(8px);
  }
  65% {
    transform: translateX(0px);
  }
  66% {
    transform: translateX(8px);
  }
  67% {
    transform: translateX(0px);
  }
  68% {
    transform: translateX(8px);
  }
  69% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(8px);
  }
  71% {
    transform: translateX(0px);
  }
  73% {
    transform: translateX(8px);
  }
  76% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(8px);
  }
  85% {
    transform: translateX(0px);
  }
  91% {
    transform: translateX(8px);
  }
  98% {
    transform: translateX(0px);
  }
}
@keyframes bounce {
  0% {
    transform: translateX(0px);
  }
  7% {
    transform: translateX(8px);
  }
  13% {
    transform: translateX(0px);
  }
  18% {
    transform: translateX(8px);
  }
  22% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(8px);
  }
  27% {
    transform: translateX(0px);
  }
  28% {
    transform: translateX(8px);
  }
  29% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(8px);
  }
  31% {
    transform: translateX(0px);
  }
  32% {
    transform: translateX(8px);
  }
  33% {
    transform: translateX(0px);
  }
  34% {
    transform: translateX(8px);
  }
  35% {
    transform: translateX(0px);
  }
  36% {
    transform: translateX(8px);
  }
  37% {
    transform: translateX(0px);
  }
  38% {
    transform: translateX(8px);
  }
  39% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(8px);
  }
  41% {
    transform: translateX(0px);
  }
  42% {
    transform: translateX(8px);
  }
  43% {
    transform: translateX(0px);
  }
  44% {
    transform: translateX(8px);
  }
  45% {
    transform: translateX(0px);
  }
  46% {
    transform: translateX(8px);
  }
  47% {
    transform: translateX(0px);
  }
  48% {
    transform: translateX(8px);
  }
  49% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(8px);
  }
  51% {
    transform: translateX(0px);
  }
  52% {
    transform: translateX(8px);
  }
  53% {
    transform: translateX(0px);
  }
  54% {
    transform: translateX(8px);
  }
  55% {
    transform: translateX(0px);
  }
  56% {
    transform: translateX(8px);
  }
  57% {
    transform: translateX(0px);
  }
  58% {
    transform: translateX(8px);
  }
  59% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(8px);
  }
  61% {
    transform: translateX(0px);
  }
  62% {
    transform: translateX(8px);
  }
  63% {
    transform: translateX(0px);
  }
  64% {
    transform: translateX(8px);
  }
  65% {
    transform: translateX(0px);
  }
  66% {
    transform: translateX(8px);
  }
  67% {
    transform: translateX(0px);
  }
  68% {
    transform: translateX(8px);
  }
  69% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(8px);
  }
  71% {
    transform: translateX(0px);
  }
  73% {
    transform: translateX(8px);
  }
  76% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(8px);
  }
  85% {
    transform: translateX(0px);
  }
  91% {
    transform: translateX(8px);
  }
  98% {
    transform: translateX(0px);
  }
}

#recentWork {
  padding-bottom: 144px;
}
@media screen and (max-width: 640px) {
  #recentWork {
    padding-bottom: 96px;
  }
}
#recentWork .project:first-of-type {
  margin-bottom: 24px;
}
#recentWork .project {
  max-width: 100%;
}
#recentWork .project span {
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 16px;
}
@media screen and (max-width: 640px) {
  #recentWork .project span {
    font-size: 22px;
    line-height: 27px;
  }
}

#olderWork {
  padding-bottom: 144px;
}
@media screen and (max-width: 640px) {
  #olderWork {
    padding-bottom: 96px;
  }
}
#olderWork .project span {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 16px;
}
@media screen and (max-width: 640px) {
  #olderWork .project span {
    font-size: 22px;
    line-height: 27px;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 144px;
}
@media screen and (max-width: 640px) {
  #contact {
    padding-bottom: 96px;
  }
}
#contact p {
  max-width: 680px;
}
#contact a:first-of-type {
  margin-bottom: 24px;
}
#contact a {
  font-family: "DM Mono", sans-serif;
  font-size: 14px;
  text-decoration: underline;
  color: #7271A6;
  transition-duration: 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#contact a:hover {
  transition-duration: 0.5s;
  color: #232259;
}

#yxz {
  padding-bottom: 144px;
}
@media screen and (max-width: 640px) {
  #yxz {
    padding-bottom: 96px;
  }
}
#yxz a {
  text-decoration: underline;
  color: #7271A6;
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 144px;
}
@media screen and (max-width: 640px) {
  .title {
    margin-bottom: 96px;
  }
}
.title h1 {
  margin-top: 16;
  margin-bottom: 0;
}
.title a {
  font-family: "DM Mono", sans-serif;
  font-size: 14px;
  text-decoration: underline;
  color: #7271A6;
  transition-duration: 0.5s;
  text-decoration: none;
}
.title a:hover {
  transition-duration: 0.5s;
  color: #232259;
}

.section {
  padding-bottom: 144px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 640px) {
  .section {
    padding-bottom: 96px;
  }
}
.section .imgGrid {
  background: white;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
}
.section .imgGrid a {
  max-width: 25%;
  line-height: 0;
}
@media screen and (max-width: 640px) {
  .section .imgGrid a {
    max-width: 50%;
  }
}
.section .imgGrid a img {
  border: none;
  border-radius: 0;
}
.section .imgGrid a video {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.section img {
  max-width: 100%;
  margin-bottom: 96px;
}
@media screen and (max-width: 640px) {
  .section img {
    margin-bottom: 24px;
  }
}
.section video {
  max-width: 100%;
  margin-bottom: 96px;
}
@media screen and (max-width: 640px) {
  .section video {
    margin-bottom: 24px;
  }
}
.section .notLast {
  margin-bottom: 96px !important;
}
@media screen and (max-width: 640px) {
  .section .notLast {
    margin-bottom: 24px !important;
  }
}
.section video:last-of-type {
  margin-bottom: 0;
}
.section img:last-of-type {
  margin-bottom: 0;
}
.section .captioned {
  margin-bottom: 16px !important;
}
@media screen and (max-width: 640px) {
  .section .captioned {
    margin-bottom: 8px !important;
  }
}
.section .caption {
  font-family: "DM Mono", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 96px;
}
.section .textBlockHalf {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  margin-bottom: 24px;
  margin-top: 0;
}
@media screen and (max-width: 640px) {
  .section .textBlockHalf {
    flex-direction: column;
    gap: 0;
  }
}
.section .textBlockHalf h2 {
  margin-top: 0;
  margin-bottom: 0;
  flex: 40%;
}
@media screen and (max-width: 640px) {
  .section .textBlockHalf h2 {
    margin-bottom: 16px;
  }
}
.section .textBlockHalf h3 {
  font-size: 22px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 16px;
  flex: 40%;
}
.section .textBlockHalf .paragraph {
  flex: 60%;
}
.section .textBlockHalf .paragraph p {
  margin-bottom: 16px;
}
.section .textBlockHalf .paragraph p:last-of-type {
  margin-bottom: 0;
}/*# sourceMappingURL=stylesheet.css.map */