body {
  background: #F7FBFC;
}

h1, h2, h3, p, span, a, li {
  font-family: "DM Sans", sans-serif;
  color: #232259;
  font-weight: 400;
  letter-spacing: -0.01em;
}

h1 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

p {
  line-height: 150%;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 24px;
}

a {
  text-decoration: none;
}

.threeGrid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

nav {
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #7271A6;
  border-radius: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-bottom: 96px;
  background: #ffffff;
}
nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
nav ul li {
  display: inline;
}

.container {
  max-width: 1080px;
  padding: 24px 48px;
  margin: 0 auto;
}

.sectionHeader {
  display: flex;
  align-items: baseline;
  margin-bottom: 48px;
}
.sectionHeader span {
  white-space: nowrap;
  margin-right: 8px;
}
.sectionHeader .divider {
  width: 100%;
  height: 1px;
  background: #7271A6;
}

#hero {
  padding-bottom: 144px;
}
#hero h1 {
  max-width: 680px;
  margin-bottom: 24px;
}
#hero p {
  max-width: 680px;
  margin-bottom: 0;
}

.project {
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #7271A6;
  border-radius: 16px 0px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #ffffff;
  flex-grow: 1;
}
.project p {
  margin-bottom: 0;
}
.project .projectTitle {
  display: flex;
  font-size: 48px;
  align-items: flex-start;
  justify-content: space-between;
}
.project .projectTitle h2 {
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 16px;
  margin-top: 0;
}
.project .projectTitle h3 {
  font-size: 24px;
  font-size: 32px;
  margin-bottom: 16px;
  margin-top: 0;
}

#recentWork {
  padding-bottom: 144px;
}
#recentWork .project:first-of-type {
  margin-bottom: 24px;
}
#recentWork .project {
  max-width: 100%;
}
#recentWork .project span {
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 16px;
}

#olderWork {
  padding-bottom: 144px;
}
#olderWork .project span {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

#contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 144px;
}
#contact a:first-of-type {
  margin-bottom: 24px;
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 144px;
}
.title h1 {
  margin-top: 16;
  margin-bottom: 0;
}

.section {
  padding-bottom: 144px;
  display: flex;
  flex-direction: column;
}
.section .imgGrid {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #7271A6;
  border-radius: 16px 0px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
}
.section .imgGrid a {
  max-width: 25%;
  line-height: 0;
}
.section .imgGrid a img {
  border: none;
  border-radius: 0;
}
.section .imgGrid a video {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.section img {
  max-width: 100%;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #7271A6;
  border-radius: 16px 0px;
  margin-bottom: 96px;
}
.section video {
  max-width: 100%;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #7271A6;
  border-radius: 16px 0px;
  margin-bottom: 96px;
}
.section img:last-of-type {
  margin-bottom: 0;
}
.section .captioned {
  margin-bottom: 16px;
}
.section .caption {
  font-family: "DM Mono", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 96px;
}
.section .textBlockHalf {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  margin-bottom: 24px;
  margin-top: 0;
}
.section .textBlockHalf h2 {
  margin-top: 0;
  margin-bottom: 0;
  flex: 33%;
}
.section .textBlockHalf .paragraph {
  flex: 66%;
}
.section .textBlockHalf .paragraph p {
  margin-bottom: 8px;
}
.section .textBlockHalf .paragraph p:last-of-type {
  margin-bottom: 0;
}/*# sourceMappingURL=stylesheet.css.map */