@use 'styles';

// border radius
@mixin borderRadius {
    border-width: 1px 2px 2px 1px;
    border-style: solid;
    border-color: styles.$grey;
    border-radius: 16px 0px;
}

// 3 grid
@mixin threeGrid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}