@use 'styles';

// border radius
@mixin borderRadius {
    border-width: 1px 2px 2px 1px;
    border-style: solid;
    border-color: styles.$grey;
    border-radius: 16px 0px;
}

// 3 grid
@mixin threeGrid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 24px;
}

// link style
@mixin link {
    font-family: 'DM Mono', sans-serif;
    font-size: 14px;
    text-decoration: underline;
}