$black: #232259;
$grey: #7271A6;
$bg: #F7FBFC;
$white: #ffffff;
$headerSize: 48px;
$headerLineheight: 64px;
$subHeaderSize: 26px;
$subHeaderLineheight: 34px;
$h3size: 22px;
$h3LineHeight: 27px;
$bodySize: 18px;
$bodyLineHeight: 30px;